
#stage1 {
	background: url('../images/stage1Bg.jpg') no-repeat 0 0;
	.totalLevel {
		position: absolute;
		top: 437px;
		left: 411px;
		display: none;
		background: url("../images/box.png") no-repeat 0 0;
		width: 74px;
		height: 108px;
	}
	.door {
		position: absolute;
		top: 361px;
		right: 79px;
		opacity: 1;
		background: url("../images/door.png") no-repeat 0 0;
		width: 249px;
		height: 296px;
	}
	

	.tree {
		position: absolute;
		top: 503px;
		left: 15px;
		width: 279px;
		height: 235px;
		background: url("../images/Tree_small.png") no-repeat 0 0;
		z-index: 7;
	}

	.leafes {
		position: absolute;
		top: 360px;
		left: 380px;
		z-index: 5;
	}
}

.popupWrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
		background: rgba(154,154,154, 0.7);
	margin: 0px auto;
	z-index: 10;	
	.popup {
		position: relative;
		width: 780px;
		height: 580px;
		background: #fff;
		z-index: 11;
		top: 150px;
		margin: 0 auto;	
		border: 20px solid #145D2F;
		border-radius: 15px;
			
  		.item {
			position: absolute;
			top: 40%;
			left:40%;
			width: 44px;
			height: 44px;
			border:  none;			
			outline: none;
			transform: scale(2,2);
		

			&.battery {
				background: url("../images/batteries.jpg") no-repeat 0 0;
				background-size: cover;
				display: none;
				animation: appear 3s linear  infinite alternate;
					animation-iteration-count: 1;

			}
			&.gun {
				background: url("../images/gun.jpg") no-repeat 0 0;
				background-size: cover;
				display: none;
				animation: appear 3s linear  infinite alternate;
					animation-iteration-count: 1;
			}
			@keyframes appear {
				0% {
					transform: scale(0.5,0.5)
				}
				100% {
					transform: scale(2,2)
				}
				
			}
			
		}	
		
		#stage1Popup1 {
			background: #86CB9B;
			font-size: 20px;
			height: 100%;
			padding: 2em;
			

		.letters {
			position: relative;
			display: inline-block;
			text-align: justify;
			
			span {
				position: absolute;
				height: 68px;
				width: 52px;
				top: 10px;
				left: 25%;			
				font-weight: 900;
				font-size: 2em;
				color: #145D2F;
			}
		}
		.makeWord {
			width: 100%;
			min-height: 100px;
			margin: 2em auto;
			border: 20px solid #145D2F;
			border-radius: 10px;
			padding: 1em;
			background: #fff;
			text-align: center
		}
		#sendWord {
			display: block;
			width: 100%;
			padding: 1em;
			background: #145D2F;
			border-radius: 10px;
			color: #fff;
			font-size: 18px;

		}
	}
	}
}
