#stage4 {
	background: url('../images/stage4Bg.jpg') no-repeat 0 0;

	.stones {
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: 9;
		width: 598px;
		height: 302px;
		background: url('../images/Screen_4_Stones.png') no-repeat 0 0;
	}
	.ladder {
		position: absolute;
		top: 190px;
		left: 642px;		
		width: 42px;
		height: 143px;
		background: url('../images/Screen_4_ladder.png') no-repeat 0 0;

        &.show-ladder {
            animation: showLadder 1s;
            height: 459px;
        }		
	}
}
.cabin {
    height: 100%;
    width: 100%;  
    background: url('../images/cabin2.png') no-repeat 0 0; 
    background-size: cover;
    
    &.hideCabin {
        width: 0;
    }
}

@-webkit-keyframes showLadder {
    from {
        height: 143px
    }
    to {
        height: 459px;
    }
}

#gameField {
	width: 100%;
	height: 100%;
	background: #8FAE50;
	font-style: italic;
	
    .infoBlock {    
        height: 100px;
        width: 620px;
        margin: 0 auto 65px auto;
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 20px;
        
        .shortInfo {
            font-size: 20px;
            line-height: 110%;
            color: #515055;
        }        
    }
    
    .playGround {
        position: relative;
        width: 620px;
        height: 330px;
        margin: 0 auto;
        border-width: 4px 0 0px 4px;
        border-color: #736760;
        background: #ECF4DD;
        border-style: solid;    
        
        &.infoBackground {
            background: #ECF4DD url("../images/infoBackground.png") no-repeat 91px 26px;
        }

        .startGameBtn, .retryBtn {
            position: relative;
            top: 229px;
            left: 226px;
            width: 160px;
            height: 65px;
            margin: 0 auto; 
            border: none;
            border-radius: 5px;
            background: #774C29;
            color: #B5CD6B;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 28px;
            font-family: 'Noto Sans', sans-serif;
            
            &:hover {
                color: #E6EFD0;
            }
        }

        .clickCounter {
            float: left;
            height: 65px;
            width: 50%;
            padding: 17px 0 0 0;
            border-width: 0 2px 5px 0;
            border-color:  #9C8679;
            border-style: solid;
            text-align: center;
            color: #737476;
            
            .points{
                font-size: 20px;
                font-weight: bold;
            }
        }

        .timer {
            position: relative;
            float: right;
            width: 50%;
            height: 65px;
            border-width: 0 0 5px 3px;
            border-style: solid;
            border-color:  #9C8679;
            
            .visualTimer {
                position: absolute;
                height: 12px;
                width: 90%;
                top: 25px;
                left: 15px;
                z-index: 1;
                background: #736759;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        
        .dot {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            cursor: pointer;
            background-color: #8cad4f;
        }

        .fakeDot {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .attempts {
            position: absolute;
            width: 20%; 
            height: 30%;
            top: 40px;
            left: 249px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            
            .attemptCount {
                display: block;
                margin-top: 10px;
            }
        }

        .gameResults {
            position: absolute;
            width: 19%;
            height: 30%;
            top: 131px;
            left: 249px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
        
            .points {
                display: block;
                margin-top: 10px;
            }
        }    
	}
}

.addAnimation {
	transition: -webkit-transform 11s;
	transition: transform 11s;
}

.scaleToZero {
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

.underDotMsg {
	position: absolute;
	z-index: 999;
	width: 90px;
	height: 20px;
}

.closeBlock {
	display: none;
}

.startButton {
    position: absolute;
    top: 424px;
    left: 559px;
    width: 65px;
    height: 50px;
    background: url('../images/cabin_buttons/startBtn.png') no-repeat 0 0;
    margin: 0 auto;
    border: none;
}

.panelButton {
    position: absolute;  
    width: 35px;
    height: 25px;
    border: none;
    &.btn-1 {
        background: url('../images/cabin_buttons/blueBtn.png') no-repeat 0 0;
        bottom: 116px;
        right: 366px;
        &.pressed {
            background: url('../images/cabin_buttons/blueBtnpressed.png') no-repeat 0 5px;
        }
    }
    &.btn-2 {
        background: url('../images/cabin_buttons/greenBtn.png') no-repeat 0 0;
        bottom: 116px;
        right: 322px;
        &.pressed {
            background: url('../images/cabin_buttons/greenBtnPressed.png') no-repeat 0 5px;
        }
    }
    &.btn-3 {
        background: url('../images/cabin_buttons/orangeBtn.png') no-repeat 0 0;
        bottom: 116px;
        right: 277px;
        &.pressed {
            background: url('../images/cabin_buttons/orangeBtnPressed.png') no-repeat 0 5px;
        }
    }
    &.btn-4 {
        background: url('../images/cabin_buttons/yellowBtn.png') no-repeat 0 0;
        bottom: 116px;
        right: 232px;
        &.pressed {
            background: url('../images/cabin_buttons/yellowBtnPressed.png') no-repeat 0 5px;
        }
    }
    &.btn-5 {
        background: url('../images/cabin_buttons/greyBtn.png') no-repeat 0 0;
        bottom: 82px;
        right: 366px;
        &.pressed {
            background: url('../images/cabin_buttons/greyBtnPressed.png') no-repeat 0 5px;
        }
    } 
    &.btn-6 {
        background: url('../images/cabin_buttons/pinkBtn.png') no-repeat 0 0;
        bottom: 82px;
        right: 320px;
        &.pressed {
            background: url('../images/cabin_buttons/pinkBtnPressed.png') no-repeat 0 5px;
        }
    }
    &.btn-7 {
        background: url('../images/cabin_buttons/violetBtn.png') no-repeat 0 0;
        bottom: 82px;
        right: 276px;
        &.pressed {
            background: url('../images/cabin_buttons/violetBtnPressed.png') no-repeat 0 5px;
        }
    }
    &.btn-8 {
        background: url('../images/cabin_buttons/lightGreenBtn.png') no-repeat 0 0;
        bottom: 82px;
        right: 232px;
        &.pressed {
            background: url('../images/cabin_buttons/lightGreenBtnPressed.png') no-repeat 0 5px;
        }
    }
}

.close404Btn {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: Transparent;
    &:before {
        content: "X";
        color: #4B4A52;
        font-size: 2em;
        font-weight: bold;
    }
}

.timer {
   position: relative;
   margin: 0 auto;
   width: 122px; 
   height: 37px;
   background: #626866;
   border: 4px solid #444645;
   text-align: center;
   font-size: 1.4em;
   color: #C5C7C6;
   font-style: italic;
   .minutes {
       &:after {
           content: ' : ';
       }
   }
}

.error-page-frame {
    width: 100%;
    height: 100%;
    background: url("../images/404_page.jpg") no-repeat 0 0 ;
    border: none;
}