#gameField {
	width: 100%;
	height: 100%;
	background: #8FAE50;
	font-style: italic;
	
	.infoBlock {	
		height: 100px;
		width: 620px;
		margin: 0 auto 65px auto;
		padding: 30px 0 0 0;
		text-align: center;
		font-size: 20px;
		
		.shortInfo {
			font-size: 20px;
			line-height: 110%;
			color: #515055;
		}	

		h3 {
			margin-top: 6px;
			font-size: 20px;
			color: #4A4A54;
		}
	}
	.playGround {
		position: relative;
		width: 620px;
		height: 330px;
		margin: 0 auto;
		border-width: 4px 0 0px 4px;
		border-color: #736760;
		background: #ECF4DD;
		border-style: solid;	
		
		&.infoBackground {
			background: #ECF4DD url("../images/infoBackground.png") no-repeat 91px 26px;
		}

		.startGameBtn {
			position: relative;
			top: 229px;
			left: 226px;
			width: 160px;
			height: 65px;
			margin: 0 auto;
			border: none;
			border-radius: 5px;
			background: #774C29;
			color: #B5CD6B;
			cursor: pointer;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 28px;
		    font-family: 'Noto Sans', sans-serif;
		    
		    &:hover {
				color: #E6EFD0;
			}
		}

		.clickCounter {
			float: left;
			height: 65px;
			width: 50%;
			padding: 17px 0 0 0;
			border-width: 0 2px 5px 0;
			border-color:  #9C8679;
			border-style: solid;
			text-align: center;
			color: #737476;
			
			.points{
				font-size: 20px;
				font-weight: bold;
			}
		}

		.timer {
			position: relative;
			float: right;
			width: 50%;
			height: 65px;
			border-width: 0 0 5px 3px;
			border-style: solid;
			border-color:  #9C8679;
			
			.visualTimer {
				position: absolute;
				height: 12px;
				width: 90%;
				top: 25px;
				left: 15px;
				z-index: 1;
				background: #736759;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
		
		.dot {
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 100px;
			cursor: pointer;
			background-color: #8cad4f;
		}

		.fakeDot {
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 100px;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		.gameResults {
			position: absolute;
			width: 19%;
			height: 30%;
			top: 101px;
			left: 249px;
			margin: 0 auto;
			text-align: center;
			font-size: 20px;
		
			.points {
				display: block;
				margin-top: 10px;
			}
		}	
	}
}

.addAnimation {
	transition: -webkit-transform 11s;
	transition: transform 11s;
}

.scaleToZero {
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

.underDotMsg {
	position: absolute;
	width: 90px;
	height: 20px;
	z-index: 999;
}

.closeBlock {
	display: none;
}

