#stage1 {
	background: url('../images/stage1Bg.jpg') no-repeat 0 0;

	.totalLevel {
		position: absolute;
		top: 437px;
		left: 411px;
		display: none;
		width: 74px;
		height: 108px;
		background: url("../images/box.png") no-repeat 0 0; 

		&.blinkAnimation {
			display: block;
			opacity: 1;
			animation-duration: .8s;
			animation-name: blicking;
			animation-iteration-count: infinite;
		}
		@-webkit-keyframes blicking { 
			0% {
				opacity: 0;
			}
			50% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.door {
		position: absolute;
		top: 361px;
		right: 79px;
		width: 249px;
		height: 296px;
		opacity: 1;
		background: url("../images/door_new.png") no-repeat 0 0;
		
		&.transparentDoor {
			opacity: 0;
		}
	}

	.tree {
		position: absolute;
		top: 503px;
		left: 15px;
		width: 279px;
		height: 235px;
		z-index: 7;
		background: url("../images/Tree_small.png") no-repeat 0 0;
	}

	.leafes {
		position: absolute;
		top: 360px;
		left: 380px;
		z-index: 5;
	}
}

.popupWrap {
	.popup {
		&.fixForFlowGame {
			position: static;
			margin-top: 110px;
			max-width: 570px;
			max-height: 570px;
			min-width: 570px;
			min-height: 570px;
		}	

		.rules {			
			padding: 10px 0 0 0;		
		}
		
		.popup-common {					
			.letters {
				position: relative;
				display: inline-block;
				text-align: justify;
				background: none;
				
				.single-letter {
					position: absolute;
					top: 4px;
					left: 5px;
					height: 69px;
					width: 51px;
					font-size: 30pt;
					color: #eee;
					font-weight: 800;
				}
			}
			.all-letters {
				min-height: 100px;
			}
			.makeWord {
				width: 90%;
				min-height: 100px;
				margin: 2em auto;
				padding: 0;
				background: #fff;
				text-align: center
			}
		}
	}
}

	
div.popup.fixForFlowGame {
	#wade_main_div {
	    position: absolute;    
	    max-width: 1270px;
	    max-height: 730px; 
	    width: 330px;
	    height: 330px;   
	    z-index: 13;
	    margin: 0 auto;
	    padding: 0;
	    left: 330px;
	    top: 60px;
	    outline: none;

	    canvas#wade_layer_5 {
		    position: absolute;    
		    max-width: 320px;
		    max-height: 320px;
		    width: 320px;
		    height: 320px;
		    border: 2px solid rgb(113, 104, 89);
	    }

	    canvas#wade_layer_1 {
		    position: absolute;
		    max-width: 1210px;
		    max-height: 620px;
		    top: 0;
 		}
    }
}
@media screen and (max-width: 1720px) and (min-width: 1401px) {
	div.popup.fixForFlowGame {
		#wade_main_div {
		    position: absolute;    
		    max-width: 70%;
		    max-height: 730px; 
		    width: 330px;
		    height: 330px;   
		    z-index: 13;
		    margin: 0 auto;
		    padding: 0;
		    left: 14%;
		    top: 60px;
		    outline: none;

		    canvas#wade_layer_5 {
			    position: absolute;    
			    max-width: 35%;
			    max-height: 340px;
			    width: 320px;
			    height: 320px;
			    border: 2px solid rgb(113, 104, 89);
		    }

		    canvas#wade_layer_1 {
			    position: absolute;
			    max-width: 97%;
			    max-height: 620px;
			    top: 0;
		    }
		}
	}
}

@media screen and (max-width: 1400px) and (min-width: 1080px) {
	div.popup.fixForFlowGame {		
		#wade_main_div {			
			left: 0;
			canvas#wade_layer_5 {		        
		    	max-width: 40%;
		    	max-height: 360px;		    
    		}
    		canvas#wade_layer_1 {	    
	      		max-width: 80%;	      		  	
			}
		}
	}
}

