#stage2 {
    cursor: url('../images/flashlight1.ico'), default;
    background: url('../images/stage2Bg.jpg') no-repeat 0 0;

    .choosePic {
        position: absolute;
        top: 440px;
        left: 250px;
        width: 375px;
        height: 100px;
        cursor: pointer!important;
    }

    .stone {
        position: absolute;
        top: 555px;
        right: 0;
        width: 255px;
        height: 255px;
        background: url("../images/stone.png") no-repeat 0 0;
        cursor: pointer!important;
    
    }
// styles for tictactoe game
    #ticTacToe {        
        position: absolute;
        right: 59px;
        bottom: 100px;
        width: 155px;
        display: none;
        background: url('../images/Game_2screen_stone_grid.png') no-repeat 0 0;         
    }

    .tic {
        background: url('../images/x.png') no-repeat 0 0;        
    }

    .toe {
        background: url('../images/o.png') no-repeat 0 0;        
    }   

    .tbl {
        position: relative;
        top: 4px;
        width: 150px;        
    }
    .field {
        position: relative;
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    #A, #B, #C, #D {
        left: 22px;
        top: -2px;
    }

    #E, #F, #G, #H {
        left: 15px;
        top: -1px;
    }

     #I, #J, #K, #L {
        left: 7px;
        top: -1px;
    }

     #M, #N, #O, #P {
        left: 0px;
        top: -1px;
    }

    .newGameB {
        position: absolute;
        bottom: -45px;
        right: 10px;
        width: 33px;
        height: 34px;
        border: none;
        background: url('../images/Game_2_Refresh_btn.png') no-repeat 0 0;
    }
}
//sytles to turn off the light
.lightOff {
    background: url('../images/stage2_1Bg.jpg') no-repeat 0 0;
    overflow: hidden;
}

.flashLight {
    position:relative;
    //background-color: #fff;
    -webkit-clip-path: circle(0px at 50% 50%);     
}
#stage2Popup1.popup-common {
     transform: rotateY(-5deg);    

    .field-with-pictures, .pictures-to-choose {
        display: inline-block;
        height: 270px;
        margin-right: 2.5em;
        margin-top: 1em;        
        background-color: rgb(208, 226, 168);
        text-align: left;
    }

    .field-with-pictures {
        width: 270px;
    }

    .pictures-to-choose {
        width: 178px;
    }    
    
    .pic-to-drag, .picture, .field-to-drop {
        display: inline-block;
        width: 86px;
        height: 86px;
        padding: 0;
        margin: 0;
        border: 1px solid rgb(90, 74, 66);
        overflow: hidden;
    }
}