#stage1 {
	background: url('../images/stage1Bg.png') no-repeat 0 0;
	.totalLevel {
		position: absolute;
		top: 458px;
		left: 330px;
		display: none;
		background: url("../images/box.png") no-repeat 0 0;
		width: 74px;
		height: 108px;
	}
	.door {
		position: absolute;
		top: 361px;
		right: 79px;
		opacity: 0;
		background: url("../images/door.png") no-repeat 0 0;
		width: 249px;
		height: 296px;
	}
	.man {
		position: absolute;
		top: 460px;
		left: 20px;
		width: 50px;
		background: #cf0;
		font-size: 3.5em;
		height: 200px;
		border: 2px solid black;
	}
}
.popupWrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(154,154,154, 0.7);
	margin: 0px auto;	
	.popup {
		position: relative;
		z-index: 11;
		width: 800px;
		height: 550px;
		background: #fff;
		top: 150px;
		margin: 0 auto;	
		border: 1px solid #777;
		border-radius: 6px;
	}
}