#stage3 {
	background: url('http://images.clipartpanda.com/winding-river-clipart-river-view-15852540.jpg') no-repeat 0 0;
	
	.bubbles {
		position: absolute;
		top: 0;
		left: 5%;
		border: 1px solid grey;
		width: 500px;
		height: 700px;
	}
}



/* Sticks game "Bashe" */

#stickGameWrapp {
	width: 100%;
	height: 100%;
	.sticksSection {
		position: absolute;
		height: 100%;
		width: 40%;
		top: 0;
		left: 30%;
		border-right: 1px solid #ccc;
	}

	.playerPlace {
		border-right: 1px solid #ccc;
		position: absolute;
		height: 100%;
		width: 30%;
		top: 0;
		left: 0;
	}

	.cpuPlace {
		position: absolute;
		height: 100%;
		width: 30%;
		top: 0;
		right: 0;
		
	}
}