#stage3 {
	background: url('../images/stage3Bg.jpg') no-repeat 0 0;

	.bridge {
		position: absolute;
		top: 636px;
		left: 312px;
		width:337px;
		height: 50px;
		background: url('../images/Game_3screen_bridge.png') no-repeat 0 0;
		display: none;
	}
		
	.bubbles-popup {	
		position: absolute;
		width: 800px;
		top: 5px;
		left: 350px;
		height: 800px;

		div#wade_main_div {
			position: relative;
			top: 100px;
			left: -300px;
			max-width:1100px;
			width: 1100px;			
			max-height: 750px;
			
			#wade_layer_1, #wade_layer_5 {
				position: absolute;				
				margin: 0;
				width: 1100px;	
				max-width: 1100px;
				max-height: 700px;
			}
		}
	}
}

#stickGameWrapp {
	width: 100%; 
	height: 545px;
	height: 100%; 
	background: #F0FFF3;
	font-style: italic;
	
	.rules {
		padding: 31px 0 0 0;		
		height: 20%;
		font-size: 20px;
		text-align: center;
		
		.mainRulesPart {	
			font-weight: bold;
		}

		.subRulesPart {
			display: block;
		}
	}

	.wrapp {
		width: 630px;
		height: 380px;
		margin: 0 auto;
		border-width: 4px 0 0px 4px;
		border-color: #736760;
		border-style: solid;	
	}	

	.mainSection, .playerPlace, .cpuPlace { 	
		height: 100%;
		border: 2px solid #AA9E84;
	}

	.mainSection {
		width: 270px;
		left: 30%;
		margin: 0 auto;
		
		.mainSectionHeader {
			font-size: 20px;
			margin: 6px 0 0 0;
			text-align: center;
		}

		.mainSubHeader {
			margin-top: -3px;
			text-align: center;
			font-weight: normal;
			font-size: 14px;
		}

		.controls {			
			margin-top: 10px;
			
			.pickStick {
				width: 35px;
				height: 37px;
				margin-right: 17px;
				background: #CDDD9C;
				color: #594A47;
				font-weight: bold;
				font-size: 20px;
				font-style: italic;
				border-radius: 50% 20%;
				border-width: 4px 1px 4px 1px;
				border-style: solid;
				border-color: #594A47;
				transition: background .3s, color .2s;
				outline: none;
				
				&:first-child {
					margin-left: 54px;
				}
				&:hover {
					background: #D4E5B1;
					cursor: pointer;
				}
				&.disabled {
					opacity: 0.5;
				}
			}
		}
	}

	.playerPlace {
		float: left;
		width: 180px;
		transition: background .4s;	
	}

	.cpuPlace {
		float: right;
		width: 180px;
		transition: background .4s;
	}

	.playerName {
		font-size: 1.2em;
		margin-top: 5px;
		text-align: center;
		color: #5D8102;
	}

	.sticksSection {
		width: 80%;
		height: 30%;
		margin: 14px 0 0 31px;
	}

	.stick {	
		float: left;
		width: 11px;
		height: 46px;
		margin: 0 9px 10px 0;
		background: #000;
		background: url("../images/match_pink.png") no-repeat 0 0;
		
		&:nth-child(2n) {
			background: url("../images/match_brown.png") no-repeat 0 0;
		}
	}
	.pickedSticks {
		width: 70%;
		height: 30%;
		margin: 77px 0 0 28px;
	}
	
	.activePlayer {
		background: #FFCEA7;
	}

	.activeCpu {
		background: #FFA2A2;
	}	
}


