<section id="stage4" class="stage">
<div id="gameField">
	<div class="gameStatus ">
		<div class="clickCounter closeBlock">
			<span class="points">0</span>
		</div>
		<div class="timer closeBlock">
			<span class="digitalTimer">5.00</span>
			<div class="visualTimer defScale"> </div>
		</div>
		<button class="startGameBtn" >START</button>
	
	</div>
	<div class="playGround">
	
		<div class="gameInfo ">
		<h1 class="infoHeader">Info</h1>
			<div class="infoBlock">
				<div class="dot greenColor"></div>
				<p class="shortInfo">Adds points and some total time</p>
			</div>
			<div class="infoBlock">
				<div class="dot redColor"></div>
				<p class="shortInfo">Adds points but reduce time on second</p>
			</div>
			<div class="infoBlock">
				<div class="fakeDot"></div>
				<p class="shortInfo">Reduce points.</p>
			</div>
		</div>
	</div>
</div>
</section>