<section id="stage2" class="stage">
    <div class="choosePic"></div>
    <div class="stone"></div>
<!-- Tic-tac-toe game  -->
	<div id="ticTacToe">
        <table class="tbl" align="center">
            <tr>
                <td class="field" id="A"></td>
                <td class="field" id="B"></td>
                <td class="field" id="C"></td>
                <td class="field" id="D"></td>
            </tr>
            <tr>
                <td class="field" id="E"></td>
                <td class="field" id="F"></td>
                <td class="field" id="G"></td>
                <td class="field" id="H"></td>
            </tr>
            <tr>
                <td class="field" id="I"></td>
                <td class="field" id="J"></td>
                <td class="field" id="K"></td>
                <td class="field" id="L"></td>
            </tr>
            <tr>
                <td class="field" id="M"></td>
                <td class="field" id="N"></td>
                <td class="field" id="O"></td>
                <td class="field" id="P"></td>
            </tr>
        </table>
        <input type='button' class="newGameB" value="">  
	</div>
		
</section>