<div id="gameField">
		<div class="infoBlock">
			<h3>Chase a green bubble!</h3>
			<p class="shortInfo">Click on green bubble to earn points and some additional time. Be careful: clicking on other bubbles will reduce your time by 0,2 sec. Earn as much points as you can! Good luck!</p>
		</div>
		
	<div class="playGround infoBackground">
		<div class="clickCounter closeBlock">
			<span class="points">0</span>
		</div>
		<div class="timer closeBlock">
			<div class="visualTimer defScale"> </div>
		</div>
		<p class="gameResults closeBlock"> Your points: <span class="points"></span></p>
		<button class="startGameBtn" >start</button>
	</div>
</div>