<div class="cabin">
	<div class="timer">
		<span class="minutes">0</span>
		<span class="seconds">0</span>
	</div>
	
		<div class="lamp lamp1"></div>
		<div class="lamp lamp2"></div>
		<div class="lamp lamp3"></div>
		<div class="lamp lamp4"></div>
	
	<button class="startButton"></button>
	<button id="0" class="panelButton btn-1"></button>
	<button id="1" class="panelButton btn-2"></button>
	<button id="2" class="panelButton btn-3"></button>
	<button id="3" class="panelButton btn-4"></button>
	<button id="4" class="panelButton btn-5"></button>
	<button id="5" class="panelButton btn-6"></button>
	<button id="6" class="panelButton btn-7"></button>
	<button id="7" class="panelButton btn-8"></button>
	<button id="8" class="panelButton btn-9"></button>
	<button id="9" class="panelButton btn-10"></button>
	<button id="10" class="panelButton btn-11"></button>
	<button id="11" class="panelButton btn-12"></button>
	<button class="close404Btn closeBlock"></button>
</div>