<section id="stage2" class="stage">
	<div id="crossZero">
		<form name=game>
            <table class="tbl" align="center">
                <tr>
                    <td><a href="javascript:yourChoice('A')"><img src="src/images/z.gif" name=A></a></td>
                    <td><a href="javascript:yourChoice('B')"><img src="src/images/z.gif" name=B></a></td>
                    <td><a href="javascript:yourChoice('C')"><img src="src/images/z.gif" name=C></a></td>
                </tr>
                <tr>
                    <td><a href="javascript:yourChoice('D')"><img src="src/images/z.gif" name=D></a></td>
                    <td><a href="javascript:yourChoice('E')"><img src="src/images/z.gif" name=E></a></td>
                    <td><a href="javascript:yourChoice('F')"><img src="src/images/z.gif" name=F></a></td>
                </tr>
                <tr>
                    <td><a href="javascript:yourChoice('G')"><img src="src/images/z.gif" name=G></a></td>
                    <td><a href="javascript:yourChoice('H')"><img src="src/images/z.gif" name=H></a></td>
                    <td><a href="javascript:yourChoice('I')"><img src="src/images/z.gif" name=I></a></td>
                </tr>
            </table>
<!-- <table class="tbl" align="center"><tr><td> <input type='button' value="New Game" onClick="playAgain();"><br> </td>
<td> <input type='text' size='5' name='you'><br>YOU</td><td><input type='text' size='5' name='computer'><br>Computer</td>
<td> <input type='text' size='5' name='ties'><br>Draw</td></tr></table> -->
        </form>
	</div>
		
	
</section>