<div id="stickGameWrapp">
	<div class="rules">
		<span class="mainRulesPart"> Two players take turns picking matches in amount from 1 to 3.</span>
		<span class="subRulesPart"> Wins the one who takes the last match. Good luck!</span>
	</div>

	<div class="wrapp">
	 	<div class="playerPlace activePlayer">
	 		<h1 class="playerName">You</h1>
	 		<section class="pickedSticks"></section>
	 	</div>
	 	<div class="cpuPlace">
	 		<h1 class="playerName">Bot</h1>
	 		<section class="pickedSticks"></section>
	 	</div>
	 	<div class="mainSection">	
		 	<hgroup>
		 		<h1 class="mainSectionHeader">Matches</h1>
		 		<h5 class="mainSubHeader">Pick the amount!</h3>
		 	</hgroup>
	 		<section class="controls">
				<button class="pickStick" name="1">1</button>
				<button class="pickStick" name="2">2</button>
				<button class="pickStick" name="3">3</button>
	 		</section>	
	 		<div class="sticksSection"> 
		 		<div class="stick"></div>
		 		<div class="stick"></div>
		 		<div class="stick"></div>
		 		<div class="stick"></div>
		 		<div class="stick"></div>
				<div class="stick"></div>
				<div class="stick"></div>
				<div class="stick"></div>
				<div class="stick"></div>
				<div class="stick"></div>	 		
				<div class="stick"></div>
				<div class="stick"></div>
				<div class="stick"></div>
				<div class="stick"></div>
				<div class="stick"></div>
	 		</div>
	 	</div>
 	</div>
</div>