<section id="stage2" class="stage">



<!--  delete block after -->
<div style="position: absolute; top: 50px; left: 600px;  width: 200px; height: 400px; background: orange;" onclick="alert('ok')"></div>
<!--     -->


	<div id="crossZero">
	
            <table class="tbl" align="center">
                <tr>
                    <td><a href="javascript:yourChoice('A')"><img src="src/images/z.gif" name=A></a></td>
                    <td><a href="javascript:yourChoice('B')"><img src="src/images/z.gif" name=B></a></td>
                    <td><a href="javascript:yourChoice('C')"><img src="src/images/z.gif" name=C></a></td>
                     <td><a href="javascript:yourChoice('D')"><img src="src/images/z.gif" name=D></a></td>
                </tr>
                <tr>
                    <td><a href="javascript:yourChoice('E')"><img src="src/images/z.gif" name=E></a></td>
                    <td><a href="javascript:yourChoice('F')"><img src="src/images/z.gif" name=F></a></td>
                    <td><a href="javascript:yourChoice('G')"><img src="src/images/z.gif" name=G></a></td>
                     <td><a href="javascript:yourChoice('H')"><img src="src/images/z.gif" name=H></a></td>
                </tr>
                <tr>
                    <td><a href="javascript:yourChoice('I')"><img src="src/images/z.gif" name=I></a></td>
                    <td><a href="javascript:yourChoice('J')"><img src="src/images/z.gif" name=J></a></td>
                    <td><a href="javascript:yourChoice('K')"><img src="src/images/z.gif" name=K></a></td>
                     <td><a href="javascript:yourChoice('L')"><img src="src/images/z.gif" name=L></a></td>
                </tr>
                 <tr>
                    <td><a href="javascript:yourChoice('M')"><img src="src/images/z.gif" name=M></a></td>
                    <td><a href="javascript:yourChoice('N')"><img src="src/images/z.gif" name=N></a></td>
                    <td><a href="javascript:yourChoice('O')"><img src="src/images/z.gif" name=O></a></td>
                     <td><a href="javascript:yourChoice('P')"><img src="src/images/z.gif" name=P></a></td>
                </tr>
            </table>
            <input type='button' class="newGameB" value="New Game" onClick="playAgain();">  
	</div>
    
		
	
</section>