<section id="stage2" class="stage">



<!--  delete block after -->
<div style="position: absolute; top: 50px; left: 600px;  width: 200px; height: 400px; background: orange;" onclick="alert('ok')"></div>
<!--     -->


	<div id="crossZero">
	
            <table class="tbl" align="center">
                <tr>
                    <td><img class="field" src="src/images/z.gif" name=A></td>
                    <td><img class="field" src="src/images/z.gif" name=B></td>
                    <td><img class="field" src="src/images/z.gif" name=C></td>
                     <td><img class="field" src="src/images/z.gif" name=D></td>
                </tr>
                <tr>
                    <td><img class="field" src="src/images/z.gif" name=E></td>
                    <td><img class="field" src="src/images/z.gif" name=F></td>
                    <td><img class="field" src="src/images/z.gif" name=G></td>
                     <td><img class="field" src="src/images/z.gif" name=H></td>
                </tr>
                <tr>
                    <td><img class="field" src="src/images/z.gif" name=I></td>
                    <td><img class="field" src="src/images/z.gif" name=J></td>
                    <td><img class="field" src="src/images/z.gif" name=K></td>
                     <td><img class="field" src="src/images/z.gif" name=L></td>
                </tr>
                 <tr>
                    <td><img class="field" src="src/images/z.gif" name=M></td>
                    <td><img class="field" src="src/images/z.gif" name=N></td>
                    <td><img class="field" src="src/images/z.gif" name=O></td>
                    <td><img class="field" src="src/images/z.gif" name=P></td>
                </tr>
            </table>
            <input type='button' class="newGameB" value="New Game">  
	</div>
    
	'<button class="oil"></button>	
	
</section>