<div id="stage2Popup1" class="popup-common">
	<div class="rules">
		<p class="mainRulesPart"><%=taskDescription%></p>
		<p class="subRulesPart"> You have only one attempt to Send </p>
	</div>
	<div class="field-with-pictures">
		<% for(var i=1; i <= 8; i++) {%>
			<figure class="picture"> 
				<img  src=<%="src/images/pop_up_figures/pictures_brown/" + i + src[0]%> alt="pict">
			</figure>
		<%}%>
		<div class="field-to-drop"></div>
	</div>
	<div class="pictures-to-choose">
		<% for(var i=1; i <= 6; i++) {%>
			<figure class="pic-to-drag" > 
				<img src=<%= "src/images/pop_up_figures/" + i + src[1]%>	alt="pict" >
			</figure>
		<%}%>
	</div>
	<button class="popup-btn" id="sendPicture">Send</button>
</div>