<div id="stickGameWrapp">	
 	<div class="sticksSection">
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 		<div class="stick"></div>
 	</div>
 	<div class="playerPlace">
 		<h1 class="spotHeader">player</h1>
 	</div>
 	<div class="cpuPlace">
 		<h1 class="spotHeader">bot</h1>
 	</div>
</div>