<div id="stickGameWrapp">	
 	<div class="mainSection">
 		<div class="rules">
 			<p>
 				Two players take turns picking sticks from 1 to 3. Win the one who took the last stick. Good luck!
 			</p>
 		</div>
 		<div class="sticksSection"> 
 			<p class='title'>Stics</p>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>
	 		<div class="stick"></div>	 		
<!-- 	 		<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>	 		
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div>
<div class="stick"></div> -->
 		</div>

 		<section class="logSection">
 			<p class="title">Steps</p>
 			<div class="logs"></div>
 		</section>
 	</div>
 	<div class="playerPlace activePlayer">
 		<h1 class="playerName">player</h1>

 		<section class="controls">
 			<p> Pick sticks </p>
			<button class="pickStick" name="1">1</button>
			<button class="pickStick" name="2">2</button>
			<button class="pickStick" name="3">3</button>
 		</section>
 		<section class="pickedSticks">
 			
 		</section>
 	</div>
 	<div class="cpuPlace">
 		<h1 class="playerName">bot</h1>
 		<section class="pickedSticks">
 			
 		</section>
 	</div>
</div>