<div id="stage1Popup1">
	<p class="task-description"><%=taskDescription%></p>	
	<div class="makeWord" ></div>
	<button id="sendWord" type="submit">Send</button>
	
		<% for(var i=0; i < letters.length; i++) {%>
			<figure class="letters" class="letters"> 
				<img alt="letter" src="src/images/leaf.png">
				<span><%= letters[i].toUpperCase() %></span>
			</figure>
		<% } %>
		
</div>
<!-- ondrop="drop(event)" ondragover="allowDrop(event)" -->
<!--  draggable="true" ondragstart="drag(event)" ondragover="over(event)" ondragleave="leave(event)" -->