/*
     STYLES FOR STAGE 2
     
*/
#stage2 {
    cursor: url('../images/flashlight1.ico'), default;
    background: url('../images/stage2Bg.jpg') no-repeat 0 0;

    .choosePic {
        position: absolute;
        top: 440px;
        left: 250px;
        width: 375px;
        height: 100px;
        cursor: pointer!important;
    }

    .stone {
        position: absolute;
        top: 555px;
        right: 0;
        width: 255px;
        height: 255px;
        background: url("../images/stone.png") no-repeat 0 0;
        cursor: pointer!important;
    
    }
        // Styles for tictactoe game
    #ticTacToe {        
        position: absolute;
        right: 59px;
        bottom: 100px;
        width: 155px;
        display: none;
        background: url('../images/Game_2screen_stone_grid.png') no-repeat 0 0;
        &.show-Game {
            display: block;
        }
    }

    .tic {
        background: url('../images/x.png') no-repeat 0 0; 
    }

    .toe {
        background: url('../images/o.png') no-repeat 0 0;        
    }   

    .tbl {
        position: relative;
        top: 4px;
        width: 150px;        
    }
    .field {
        position: relative;
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    #A, #B, #C, #D {
        left: 22px;
        top: -2px;
    }

    #E, #F, #G, #H {
        left: 15px;
        top: -1px;
    }

     #I, #J, #K, #L {
        left: 7px;
        top: -1px;
    }

     #M, #N, #O, #P {
        left: 0px;
        top: -1px;
    }

    .newGameB {
        position: absolute;
        bottom: -45px;
        right: 10px;
        display: none;
        width: 33px;
        height: 34px;
        border: none;
        outline: none;
        background: url('../images/Game_2_Refresh_btn.png') no-repeat 0 0;
         &.show-item {
            display: block;
        }
    }
}
        //Styles to turn off the light
.lightOff {
    background: url('../images/stage2_1Bg.jpg') no-repeat 0 0;
    overflow: hidden;
}

.flashLight {
    position:relative;
    -webkit-clip-path: circle(130px at 50% 50%);
    clip-path: circle(130px at 50% 50%);
}
    // Custom styles for popup 
#stage2Popup1.popup-common {
     transform: rotateY(-5deg);    

    .field-with-pictures, .pictures-to-choose {
        display: inline-block;
        height: 272px;
        margin-right: 2em;
        margin-top: 1em;
        background-color: rgb(208, 226, 168);
        text-align: left;
    }

    .field-with-pictures {
        width: 275px;

        div{
            background-image: url('../images/pop_up_figures_static.png');
            background-repeat: no-repeat;
            width: $brown1-width;
            height: $brown1-height;
            display: inline-block;

            &.static1{
                background-position: (- $brown1-x) (- $brown1-y);
                // background-position-x: - $brown1-x;
                // background-position-y: - $brown1-y;
            }
             &.static2{
                background-position: (- $brown2-x) (- $brown2-y);
                // background-position-x: -$brown2-x;
                // background-position-y: -$brown2-y;
            }
             &.static3{
                background-position: (- $brown3-x) (- $brown3-y);
                // background-position-x: - $brown3-x;
                // background-position-y: - $brown3-y;
            }
             &.static4{
                background-position: (- $brown4-x) (- $brown4-y);
                // background-position-x: - $brown4-x;
                // background-position-y: - $brown4-y;
            }
             &.static5{
                background-position: (- $brown5-x) (- $brown5-y);
                // background-position-x: - $brown5-x;
                // background-position-y: - $brown5-y;
            }
             &.static6{
                background-position: (- $brown6-x) (- $brown6-y);
                // background-position-x: - $brown6-x;
                // background-position-y: - $brown6-y;
            }
             &.static7{
                background-position: (- $brown7-x) (- $brown7-y);
                // background-position-x: - $brown7-x;
                // background-position-y: - $brown7-y;
            }
             &.static8{
                background-position: (- $brown8-x) (- $brown8-y);
                // background-position-x: - $brown8-x;
                // background-position-y: - $brown8-y;
            }
            &.field-to-drop{
                background: none;
            }
        }
    }

    .pictures-to-choose {
        width: 180px;
    }    
    
    .pic-to-drag, .picture, .field-to-drop {
        display: inline-block;
        width: 86px;
        height: 86px;
        padding: 0;
        margin: 0;
        border: 1px solid rgb(90, 74, 66);
        overflow: hidden;
    }
    .field-to-drop {
        .pic-to-drag {
            border: none;
        }
    }
    .pic-to-drag {
        background-color: rgb(113,102,88);
        display: block;
        float: left;
        margin-bottom: 7px;
        &:nth-child(even) {
            margin-left: 7px;
        }
    }
    .pictures-to-choose .pic-to-drag {
        background-color: #eee;
        &:hover {
            background-color: rgb(113,102,88)
        }
    }
    
}