/*
     STYLES FOR STAGE 4
     
*/
#stage4 {
	background: url('../images/stage4Bg.jpg') no-repeat 0 0;

	.stones {
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: 9;
		width: 598px;
		height: 302px;
		background: url('../images/Screen_4_Stones.png') no-repeat 0 0;
	}
	.ladder {
		position: absolute;
		top: 190px;
		left: 642px;		
		width: 42px;
		height: 143px;
		background: url('../images/Screen_4_ladder.png') no-repeat 0 0;
        // class to animate ladder
        &.show-ladder {
            animation: showLadder 1s;
            -moz-animation: showLadder 1s;
            height: 459px;
        }
	}
    @-webkit-keyframes showLadder {
        from {
            height: 143px
        }
        to {
            height: 459px;
        }
    }

    @-moz-keyframes showLadder {
        from {
            height: 143px
        }
        to {
            height: 459px;
        }
    }
}
.cabin {
    height: 100%;
    width: 100%;  
    background: url('../images/inside_cabin.png') no-repeat 0 0; 
    background-size: cover;
    
    &.hideCabin {
        width: 0;
    }

    .timer {
       position: relative;
       margin: 0 auto;
       width: 122px; 
       height: 37px;
       background: #626866;
       border: 4px solid #444645;
       text-align: center;
       font-size: 1.4em;
       color: #C5C7C6;
       font-style: italic;
       .minutes {
           &:after {
               content: ' : ';
           }
       }
    }
}

/*
        DOT game  styles

*/

#gameField {
	width: 100%;
	height: 100%;
	background: #8FAE50;
	font-style: italic;
	
    .infoBlock {    
        height: 100px;
        width: 620px;
        margin: 0 auto 65px auto;
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 20px;
        
        .shortInfo {
            font-size: 20px;
            line-height: 110%;
            color: #515055;
        }        
    }
    
    .playGround {
        position: relative;
        width: 620px;
        height: 330px;
        margin: 0 auto;
        border-width: 4px 0 0px 4px;
        border-color: #736760;
        background: #ECF4DD;
        border-style: solid;    
        
        &.infoBackground {
            background: #ECF4DD url("../images/infoBackground.png") no-repeat 91px 26px;
        }

        .startGameBtn, .retryBtn {
            position: relative;
            top: 229px;
            left: 226px;
            width: 160px;
            height: 65px;
            margin: 0 auto; 
            border: none;
            border-radius: 5px;
            background: #774C29;
            color: #B5CD6B;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 28px;
            font-family: 'Noto Sans', sans-serif;
            
            &:hover {
                color: #E6EFD0;
            }
        }

        .clickCounter {
            float: left;
            height: 65px;
            width: 50%;
            padding: 17px 0 0 0;
            border-width: 0 2px 5px 0;
            border-color:  #9C8679;
            border-style: solid;
            text-align: center;
            color: #737476;
            
            .points{
                font-size: 20px;
                font-weight: bold;
            }
        }

        .timer {
            position: relative;
            float: right;
            width: 50%;
            height: 65px;
            border-width: 0 0 5px 3px;
            border-style: solid;
            border-color:  #9C8679;
            background-color: transparent;
            
            .visualTimer {
                position: absolute;
                height: 12px;
                width: 90%;
                top: 25px;
                left: 15px;
                z-index: 1;
                background: #736759;
                -webkit-transform: scaleX(1);
                -moz-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        
        .dot {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            cursor: pointer;
            background-color: #8cad4f;
        }

        .fakeDot {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .attempts {
            position: absolute;
            width: 20%; 
            height: 30%;
            top: 40px;
            left: 249px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            
            .attemptCount {
                display: block;
                margin-top: 10px;
            }
        }

        .gameResults {
            position: absolute;
            width: 19%;
            height: 30%;
            top: 131px;
            left: 249px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
        
            .points {
                display: block;
                margin-top: 10px;
            }
        }    
	}
}

.addAnimation {
	transition: -webkit-transform 11s;
	transition: transform 11s;
}

.scaleToZero {
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

.underDotMsg {
	position: absolute;
	z-index: 999;
	width: 90px;
	height: 20px;
}

.closeBlock {
	display: none;
}
/*
       INSIDE CABIN STYLES
*/

.startButton {
    position: absolute;
    top: 434px;
    left: 562px;
    width: 80px;
    height: 61px;
    background: url('../images/itemsInsidecabin.png') no-repeat $start-btn-x $start-btn-y;
    margin: 0 auto;
    border: none;
}
        // all pannel's buttons pressed and none
.panelButton {
    position: absolute;  
    width: $blue-circle-width;
    height: $blue-circle-height;
    border: none;
    background-color: none;
    background-image: url('../images/itemsInsidecabin.png');
    background-repeat: no-repeat;
    &.pressed {
        height: $blue-circle-height - 6px;
    }

    &.btn-1, &.btn-2, &.btn-3, &.btn-4 {
        bottom: 119px;
    }
    &.btn-5, &.btn-6, &.btn-7, &.btn-8 {
        bottom: 80px;
    }
     &.btn-9, &.btn-10, &.btn-11, &.btn-12 {
        bottom: 40px;
    }
    &.btn-1 {
        background-position: (- $green-circle-x) (- $green-circle-y);
        right: 393px;
        &.pressed {
            background-position: (- $green-circle-pressed-x) (- $green-circle-pressed-y);
        }
    }
    &.btn-2 {
        background-position: (- $orange-circle-x) (- $orange-circle-y);
        right: 342px;
        &.pressed {
            background-position: (- $orange-circle-pressed-x) (- $orange-circle-pressed-y); 
        }
    }
    &.btn-3 {
        background-position: (- $blue-circle-x) (- $blue-circle-y);
        right: 288px;
        &.pressed {
            background-position: (- $blue-circle-pressed-x) (- $blue-circle-pressed-y);
        }
    }
    &.btn-4 {
         background-position: (- $yellow-circle-x) (- $yellow-circle-y);
        right: 234px;
        &.pressed {
            background-position: (- $yellow-circle-pressed-x) (- $yellow-circle-pressed-y);
        }
    }
    &.btn-5 {
        background-position: (- $green-triangle-x) (- $green-triangle-y); 
        right: 398px;
        &.pressed {
            background-position: (- $green-triangle-pressed-x) (- $green-triangle-pressed-y);
        }
    } 
    &.btn-6 {
        background-position: (- $orange-triangle-x) (- $orange-triangle-y);
        right: 341px;
        &.pressed {
             background-position: (- $orange-triangle-pressed-x) (- $orange-triangle-pressed-y);
        }
    }
    &.btn-7 {
        background-position: (- $blue-triangle-x) (- $blue-triangle-y);
        right: 284px;
        &.pressed {
             background-position: (- $blue-triangle-pressed-x) (- $blue-triangle-pressed-y);     
        }
    }
    &.btn-8 {
        background-position: (- $yellow-triangle-x) (- $yellow-triangle-y);
        right: 230px;
        &.pressed {
             background-position: (- $yellow-triangle-pressed-x) (- $yellow-triangle-pressed-y);  
        }
    }
     &.btn-9 {
        background-position: (- $green-square-x) (- $green-square-y);
        right: 404px;
        &.pressed {
             background-position: (- $green-square-pressed-x) (- $green-square-pressed-y);
        }
    } 
    &.btn-10 {
        background-position: (- $orange-square-x) (- $orange-square-y);
        right: 344px;
        &.pressed {
             background-position: (- $orange-square-pressed-x) (- $orange-square-pressed-y);
        }
    }
    &.btn-11 {
        background-position: (- $blue-square-x) (- $blue-square-y);
        right: 285px;
        &.pressed {
            background-position: (- $blue-square-pressed-x) (- $blue-square-pressed-y);
        }
    }
    &.btn-12 {
        background-position: (- $yellow-square-x) (- $yellow-square-y);
        right: 226px;
        &.pressed {
            background-position:( - $yellow-square-pressed-x) (- $yellow-square-pressed-y);
        }
    }
}
        // lamps and their switch -on class
.lamp {
    position: absolute;
    width: 28px;
    height: 35px;
    background-color: none;
    background-image: url('../images/itemsInsidecabin.png');
    background-repeat: no-repeat;

    &.lamp1 {
        left: 25px;
        top: 48px;
        background-position: (- $lamp-closure-left-off-x) (- $lamp-closure-left-off-y);
        &.switch-on {
            background-position: (- $lamp-closure-left-on-x) (- $lamp-closure-left-on-y);
        }
    }
     &.lamp2 {
        left: 83px;
        top: 76px;
        background-position: (- $lamp-far-left-off-x) (- $lamp-far-left-off-y);
        width: $lamp-far-left-off-width;
        height:$lamp-far-left-off-height;
        &.switch-on{
             background-position: (- $lamp-far-left-on-x) (- $lamp-far-left-on-y);
        }
    }
    &.lamp3 {
        left: 697px;
        top: 48px;
         background-position: (- $lamp-closure-right-off-x) (- $lamp-closure-right-off-y);
        &.switch-on{
            background-position: (- $lamp-closure-right-on-x) (- $lamp-closure-right-on-y);
        }
    }
    &.lamp4 {
        left: 647px;
        top: 76px;
        background-position: (- $lamp-far-right-off-x) (- $lamp-far-right-off-y);
        width: $lamp-far-right-off-width;
        height:$lamp-far-right-off-height;
        &.switch-on{
            background-position: (- $lamp-far-right-on-x) (- $lamp-far-right-on-y);
        }
    }

}
        // button to close frame
.close404Btn {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: Transparent;
    &:before {
        content: "";
        color: #4B4A52;
        font-size: 2em;
        font-weight: bold;
    }
}

.timer {
   position: relative;
   margin: 0 auto;
   width: 122px; 
   height: 37px;
   background: #626866;
   border: 4px solid #444645;
   text-align: center;
   font-size: 1.4em;
   color: #C5C7C6;
   font-style: italic;
   .minutes {
        margin-top: 5px;
       &:after {
           content: ' : ';
       }
   }
}
        /*FRAME ERROR  STYLES*/
.error-page-frame {
    width: 100%;
    height: 100%;
    background: url("../images/404_page.png") no-repeat 0 0 ;
    border: none;

    p {
        
    }
}

