/*
Error: Invalid CSS after "...t-align: center": expected "{", was ";"
        on line 107 of src/scss/_base.scss
        from line 2 of src/scss/main.scss

102:         max-height: 540px;
103:     }
104:     .popup-common {
105:         background: rgb(142, 184, 80);
106: >>>>>>> ea386cf13f0d02fb0ec86e4aa4fd179c1ad46cc7
107:         text-align: center;
108:         font-size: 20px;
109:         height: 100%;
110:         padding: 2em;
111:         .task-description {
112:             text-align: center;

Backtrace:
src/scss/_base.scss:107
src/scss/main.scss:2
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1167:in `expected'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1101:in `expected'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1096:in `tok!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:641:in `block'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:636:in `ruleset'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:660:in `block_child'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:117:in `stylesheet'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:42:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:393:in `_to_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:299:in `to_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:88:in `with_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:415:in `run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:63:in `process_result'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:52:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:19:in `parse!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/bin/sass:13:in `<top (required)>'
c:/Ruby193/bin/sass:23:in `load'
c:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...t-align: center\": expected \"{\", was \";\"\A         on line 107 of src/scss/_base.scss\A         from line 2 of src/scss/main.scss\A \A 102:         max-height: 540px;\A 103:     }\A 104:     .popup-common {\A 105:         background: rgb(142, 184, 80);\A 106: >>>>>>> ea386cf13f0d02fb0ec86e4aa4fd179c1ad46cc7\A 107:         text-align: center;\A 108:         font-size: 20px;\A 109:         height: 100%;\A 110:         padding: 2em;\A 111:         .task-description {\A 112:             text-align: center;"; }
