/*
Error: Invalid CSS after "            height": expected ";", was ": 100%;"
        on line 10 of src/scss/_inventory.scss
        from line 3 of src/scss/main.scss

5:         margin: 0 auto;
6:         border-bottom-right-radius: 10px;
7:         border-bottom-left-radius: 10px; 
8:         .inventoryWrap {
9:             width: 100%
10:             height: 100%;
11:             margin: 0 auto;
12:             text-align: center;
13:             .itemContainer {
14:                 box-sizing: border-box;
15:                 

Backtrace:
src/scss/_inventory.scss:10
src/scss/main.scss:3
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1167:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1101:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1096:in `tok!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:761:in `block in try_declaration'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1141:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1141:in `rethrow'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:766:in `try_declaration'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:650:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:636:in `ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:660:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:650:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:393:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:299:in `to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:88:in `with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:415:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/bin/sass:13:in `<top (required)>'
C:/Ruby193/bin/sass:23:in `load'
C:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"            height\": expected \";\", was \": 100%;\"\A         on line 10 of src/scss/_inventory.scss\A         from line 3 of src/scss/main.scss\A \A 5:         margin: 0 auto;\A 6:         border-bottom-right-radius: 10px;\A 7:         border-bottom-left-radius: 10px; \A 8:         .inventoryWrap {\A 9:             width: 100%\A 10:             height: 100%;\A 11:             margin: 0 auto;\A 12:             text-align: center;\A 13:             .itemContainer {\A 14:                 box-sizing: border-box;\A 15:                 "; }
