/*
Error: Invalid CSS after "	}": expected selector or at-rule, was "}"
        on line 63 of src/scss/stages/_stage2.scss
        from line 6 of src/scss/main.scss

58: 		-webkit-transform: perspective(200px) rotateX(35deg);	
59: 		transform: perspective(200px) rotateX(35deg);
60: 	}
61: 
62: 
63: }

Backtrace:
src/scss/stages/_stage2.scss:63
src/scss/main.scss:6
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1167:in `expected'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:1101:in `expected'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/scss/parser.rb:43:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:393:in `_to_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:299:in `to_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:88:in `with_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:415:in `run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:63:in `process_result'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:52:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:19:in `parse!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.12/bin/sass:13:in `<top (required)>'
c:/Ruby193/bin/sass:23:in `load'
c:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	}\": expected selector or at-rule, was \"}\"\A         on line 63 of src/scss/stages/_stage2.scss\A         from line 6 of src/scss/main.scss\A \A 58: 		-webkit-transform: perspective(200px) rotateX(35deg);	\A 59: 		transform: perspective(200px) rotateX(35deg);\A 60: 	}\A 61: \A 62: \A 63: }"; }
