<iframe id="combination" src="" class="error-page-frame" ></iframe>
<script>
$(document).ready(function() {
    $.ajax({
            url: '/getCombination',
            method: 'GET'
    }).done(function(data) {
            var array = data.combination;
            appendCombnation(array);

    }).fail(function(req, res) {
        res.body = "something works wrong!"
    });
});


function appendCombnation(arr) {
    var combination = '<div class="hidden-hint" style="visibility:hidden">You should press buttons in such way: <br>';
    var bodyInnerHtml = document.getElementById('combination').contentWindow.document;

    for(var i=0; i<arr.length; i++) {
        combination += '<p>Press ' + arr[i] + '</p>'
    }
    combination += '</div>';
    document.getElementById('combination').src = 'data:text/html,' + combination;
}

</script>
