<div class="cabin">
	<div class="timer">
		<span class="minutes">0</span>
		<span class="seconds">0</span>
	</div>
	
		<div class="lamp lamp1"></div>
		<div class="lamp lamp2"></div>
		<div class="lamp lamp3"></div>
		<div class="lamp lamp4"></div>
	
	<button class="startButton"></button>
	<button id="greenCircle" class="panelButton btn-1"></button>
	<button id="orangeCircle" class="panelButton btn-2"></button>
	<button id="blueCircle" class="panelButton btn-3"></button>
	<button id="yellowCircle" class="panelButton btn-4"></button>
	<button id="greenTriangle" class="panelButton btn-5"></button>
	<button id="orangeTriangle" class="panelButton btn-6"></button>
	<button id="blueTriangle" class="panelButton btn-7"></button>
	<button id="yellowTriangle" class="panelButton btn-8"></button>
	<button id="greenSquare" class="panelButton btn-9"></button>
	<button id="orangeSquare" class="panelButton btn-10"></button>
	<button id="blueSquare" class="panelButton btn-11"></button>
	<button id="yellowSquare" class="panelButton btn-12"></button>
	<button class="close404Btn closeBlock"></button>
</div>