<iframe id="combination" src="src/templates/stage4ErrorPageTmpl.html" class="error-page-frame" ></iframe>
<script>
$.ajax({
            url: '/getCombination',
            method: 'GET'
        })
        .done(function(data) {
            array = data.combination;
            appendCombnation(array)
        
        })
        .fail(function(req, res) {

        });



function appendCombnation(arr) {
            var combination = '<div class="hidden-hint">You should press buttons in such way: <br>';
            var bodyInnerHtml = document.getElementById('combination').contentWindow.document;
            console.log(bodyInnerHtml)
            for(var i=0; i<arr.length; i++) {
                combination += '<p>Press ' + arr[i] + '</p>'
            }
            combination += '</div>'
             setTimeout( function() {
                var doc = document.getElementById('combination').contentWindow.document;
                var $body = $('body',doc);
                $body.html(combination);
                return false;
            }, 0 );
        }

</script>