<iframe id="combination" src="src/templates/stage4ErrorPageTmpl.html" class="error-page-frame" ></iframe>
<script>
$.ajax({
            url: '/getCombination',
            method: 'GET'
        })
        .done(function(data) {
         	array = data.combination;
         	appendCombnation(array)
        
        })
        .fail(function(req, res) {

        });



function appendCombnation(arr) {
        	var combination = 'You should press buttons in such way: <br>';
        	var bodyInnerHtml = document.getElementById('combination').innerHTML;
        	for(var i=0; i<arr.length; i++) {
				combination += '<p>Press ' + arr[i] + '</p>'
			}
			document.getElementById('combination').innerHTML = bodyInnerHtml + combination;
        }

</script>