<div id="stage1Popup1" class="popup-common">
	<div class="rules">
		<p class ="mainRulesPart">Your task is to make a right word with all these letter. You should move them to text field. You have only one attempt to Send</p>
		<p class="subRulesPart"><%= question%></p>
	</div>	
	<div class="makeWord" ></div>
	<div class="all-letters">
		<% for(var i=0; i < letters.length; i++) {%>
			<figure class="letters"> 
				<img alt="letter" src="src/images/letter_bg.png" draggable="false">
				<span class="single-letter" draggable="false"><%= letters[i].toUpperCase() %></span>
			</figure>
		<%}%>
	</div>
	<button id="sendWord" class="popup-btn" disabled>Send</button>