* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

html,body,main {
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Noto Sans', sans-serif;    
}


main {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
}

a {
    cursor: pointer;
}
// animation to do moving image
          
@-webkit-keyframes test {
    $percent: 0;
    
    @if $percent < 100 {
        @for $i from 0 to 4 { 
            $y:(-51 - $i*322); 
            @for $j from 0 to 5 {
                $x:(-92 - $j*240);
                #{$percent * 1%} {                       
                    background-position-x: #{$x}px;
                    background-position-y: #{$y}px;
                } 
                $j: $j+1;
                $percent: $percent+5;
            }            
            
            $j: 0; 
            $i: $i+1;             
        }    
    } 
}

       
#mainSection {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
    #mainContent {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }

    .man {
        display: block;
        z-index: 6;
        position: absolute;
        transform: translate(0px, 0px);
        top: -188px;
        left: 0px;
        width: 55px;
        height: 208px;
        background: #cf0;
        background-size: cover;
        font-size: 2.5em;        

        transition: transform 2s;

        &.animFix {
            transition: none;
        }
        &.hideHero {
            display: none;
        }
        &.stay-left {
            background: url(../images/bot/bot_static_reverse.png) no-repeat;
            background-position: -92px -51px;           
            animation: test 0.01ms infinite; 
        }
        &.stay-right {
            background: url(../images/bot/bot_static_direct.png) no-repeat;
            background-position: -93px -51px;           
            animation: test 0.01ms infinite;
            -webkit-animation-timing-function: linear; 
        }
         &.move-right {
            background: url(../images/bot/bot_direct.png) no-repeat;
            background-position: -93px -51px;           
            animation: test 0.01ms infinite;
            -webkit-animation-timing-function: linear; 
        }
    }
         
    
 

    .popup-common {
        height: 100%;
        padding: 2em;
        background: rgb(142, 184, 80);
        text-align: center;
        font-size: 20px;
    
        
        .task-description {
            text-align: center;
        }

        .popup-btn {
            display: block;
            width: 90%;
            margin: 1em auto;
            padding: 1em;
            border-radius: 10px;
            background: rgb(118, 76, 41);
            color: rgb(142, 184, 80);
            text-transform: uppercase;
            font-size: 20px;
        }  
    }    

    .clearFix:after {
        display: block;
        height: 0;
        content: "";
        clear: both;
    }
}

.rules {
    height: 20%;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    
    .mainRulesPart {    
        font-weight: bold;
    }

    .subRulesPart {
        display: block;
    }
}