body {
	background: green;
	margin: 1%;
}
.stage {
	position: relative;
	max-width: 1080px;
	height: 760px;
	border: 1px solid grey;
	
	.absolute-pos {
		position: absolute;	

 	}
}

.home {
	article {
		position: absolute;
		width: 40%;
		top: 0;
		height: 400px;
		margin: 2em auto;
		border: 1px solid black;
		padding: 1em;
	}
	button {
		padding: 1em;
	}
}
	


