#inventory {
    position: absolute;
    bottom: 5px;
    width: 1200px;
    height: 10%;
    background: #9a9c8f;
    margin: 0 auto;
    display: none;

    .inventoryWrap {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        text-align: center;

        .itemContainer {
            display: inline-block;
            width: 85px;
            height: 95%;
            margin-right: 15px;
            
            .itemIcon {
                position: relative;
                display: block;
                margin: 0 auto;
                /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
                &.detail-1 {
                    &.addAnimation { 
                        opacity: 1;
                        animation-duration: 2s;
                        animation-name: detail1;
                    }
                }
                &.detail-2 {
                    &.addAnimation { 
                        opacity: 1;
                        animation-duration: 2s;
                        animation-name: detail2;
                    }
                }
                &.detail-3 {
                    &.addAnimation {
                        opacity: 1;
                        animation-duration: 2s;
                        animation-name: detail3;
                    }
                }
                &.detail-4 {
                    &.addAnimation {
                        opacity: 1;
                        animation-duration: 2s;
                        animation-name: detail4;
                    }
                }
                &.detail-5 {
                    &.addAnimation {
                        opacity: 1;
                        animation-duration: 2s;
                        animation-name: detail5;
                    }
                }
                &.detail-6 {
                    &.addAnimation {
                        opacity: 1;
                        animation-duration: 2s;
                        animation-name: detail6;
                    }
                }
                &.detail-7 {
                    &.addAnimation {
                        opacity: 1;
                        animation-duration: 2s;
                        animation-name: detail7;
                    }
                }

                @-webkit-keyframes detail1 {
                    from {
                        transform: translate(780px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail2 {
                    from {
                        transform: translate(695px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail3 {
                    from {
                        transform: translate(610px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail4 {
                    from {
                        transform: translate(525px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                } 
                @-webkit-keyframes detail5 {
                    from {
                        transform: translate(440px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail6 {
                    from {
                        transform: translate(355px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail7 {
                    from {
                        transform: translate(270px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
            }

            .activeItem {
                opacity: 1; 
            }

            .noItem {
                opacity: 0.3;
            }
        }
    }
}

.item {
    position: absolute;
    width: 90px;
    height: 90px;
    border: none;
    outline: none;
    opacity: 1;
/*     animation: appear 2s ease-in infinite alternate;
    animation-iteration-count: 1; */
    z-index: 300;

    &.detail-1 {
        background: url("../images/detail_1.png") no-repeat 0 0;
/*         right: 940px;
        bottom: 22px;
        display: none;  */
    }
    &.detail-2 {
        background: url("../images/detail_2.png") no-repeat 0 0;
        right: 1040px;
        bottom: 22px; 
        display: none;               
    }
    &.detail-3 {
        background: url('../images/detail_3.png') no-repeat 0 0;
        right: 840px;
        bottom: 22px;
        display: none;
    }
    &.detail-4 {
        background: url('../images/detail_4.png') no-repeat 0 0;
        right: 740px;
        bottom: 22px;
        display: none;
    }
    &.detail-5 {
        background: url('../images/detail_5.png') no-repeat 0 0;
        right: 640px;
        bottom: 22px;
        display: none;
    }
    &.detail-6 {
        background: url('../images/detail_6.png') no-repeat 0 0;
        right: 540px;
        bottom: 22px;
        display: none;
    }
    &.detail-7 {
        background: url('../images/detail_7.png') no-repeat 0 0;
        right: 440px;
        bottom: 22px;
        display: none;   
    }
}



/* @keyframes appear {
    0% {
        transform: scale(1, 1);
        opacity: 1;
        right: 22px;
        bottom: 120px;
    }
    5% {
        transform: scale(1.5, 1.5);
        opacity: .7;
        right: 22px;
        bottom: 120px;
    }
    15% {
        transform: scale(1, 1);
    }
    90% {
        opacity: 0.5
    }
    100% {
        opacity: 0;
        bottom: 22px;
    }
}
 */