#inventory {
    position: absolute;
    display: none;
    bottom: 5px;
    width: 1200px;
    height: 10%;
    margin: 0 auto;
    background: #9a9c8f;

    .inventoryWrap {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        text-align: center;

        .itemContainer {
            display: inline-block;
            width: 87px;
            height: 50px;
            margin-right: 13px;
            margin-top: 24px;
            background: #E3E5E5;
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0px;
                width: 0; 
                height: 0; 
                border-left: 44px solid transparent;
                border-right: 44px solid transparent;
                border-bottom: 24px solid #E3E5E5;
            }
            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 74px;
                width: 0; 
                height: 0; 
                border-left: 44px solid transparent;
                border-right: 44px solid transparent;
                border-top: 24px solid #E3E5E5;
            }
            
            .itemIcon {
                position: relative;
                display: block;
                top: -24px;
                left: -1px;
                margin: 0 auto;
                z-index: 13;
                
                &.addAnimation { 
                    opacity: 1;
                }
                /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
                &.detail-1 {
                    &.addAnimation { 
                        animation-duration: 1.5s;
                        animation-name: detail1; 
                    }
                }
                &.detail-2 {

                    &.addAnimation {
                        animation-duration: 1.5s;
                        animation-name: detail2;
                    }
                }
                &.detail-3 {
                    &.addAnimation {
                        animation-duration: 1.5s;
                        animation-name: detail3;
                    }
                }
                &.detail-4 {
                    &.addAnimation {
                        animation-duration: 1.5s;
                        animation-name: detail4;
                    }
                }
                &.detail-5 {
                    &.addAnimation {
                        animation-duration: 1.5s;
                        animation-name: detail5;
                    }
                }
                &.detail-6 {
                    &.addAnimation {
                        animation-duration: 1.5s;
                        animation-name: detail6;
                    }
                }
                &.detail-7 {
                    &.addAnimation {
                        animation-duration: 1.5s;
                        animation-name: detail7;
                    }
                }

                @-webkit-keyframes detail1 {
                   0% {
                       transform: translate(780px, -200px) scale(1,1);
                    }
                    10% {
                        transform: translate(780px, -200px) scale(2,2);
                    }
                    25% {
                        transform: translate(780px, -200px) scale(1,1);
                    }
                    100% {
                        transform: translate(0px, 0px);
                    }
                }
                @-webkit-keyframes detail2 {
                    from {
                        transform: translate(695px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail3 {
                    from {
                        transform: translate(610px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail4 {
                    from {
                        transform: translate(525px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                } 
                @-webkit-keyframes detail5 {
                    from {
                        transform: translate(440px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail6 {
                    from {
                        transform: translate(355px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
                @-webkit-keyframes detail7 {
                    from {
                        transform: translate(270px, -200px);
                    }
                    to {
                        transform: translate(0px,0px)
                    }   
                }
            }

            .activeItem {
                opacity: 1; 
            }

            .noItem {
                opacity: 0.3;
            }
        }
    }
}