/*
     BASE STYLES FOR Section
    with different content
     
*/
#mainSection {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
    #mainContent {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    
}
// every stage has this class
.stage {
	position: relative;
	max-width: 1200px;
	height: 863px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: 0 0 ;
}
