/*
     BASE STYLES FOR CHARACTER
     
*/


.man {
    display: block;
    z-index: 6;
    position: absolute;
    transform: translate(0px, 0px);
    top: 0px;
    left: 0px;
    width: 55px;
    height: 202px;
    font-size: 2.5em;
    background-image: url(../images/botAnimationSprite.png);
    background-repeat: no-repeat;
    // all moving animations 
    &.animFix {
        transition: none;
    }
    &.hideHero {
        display: none;
    }
    &.stand-right {
        background-position-y: $bot-static-direct-line-y - 50px;
        animation: play 2s steps(20) infinite; 
    }
    &.stand-left {
        background-position-y: - $bot-static-reverse-line-y - 50px;
        animation: play 2s steps(20) infinite; 
    }
    &.move-right {
        background-position-y: - $bot-walk-direct-line-y - 50px;
        animation: play .3s steps(20) infinite; 
    }
    &.move-left {
        background-position-y: - $bot-walk-reverse-line-y - 50px;
        animation: play .2s steps(20) infinite;
    }
    &.climb-up {
        width: 80px;          
        transition: transform 3.5s linear;
        background-position-y: - $bot-up-line-y - 50px;
        animation: play .7s steps(20) infinite;  
    }
  
    @keyframes play {
        0% { background-position-x: - $bot-static-direct-line-x - 90px;}
        100% { background-position-x: - $bot-static-direct-line-width - 90px;}
    }
} 
