/*
     BASE STYLES FOR ALL ELEMENTS
     
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

html, body, main {
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    min-width: 1180px;
    overflow: auto;
}

button {
    outline: none;
    background-color: transparent;
}
main {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
}

a {
    cursor: pointer;
}